# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
.claude/
*.swp


# Dependencies
node_modules/

# Build
dist/
.output/
.astro/

# Env
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
